/* ==== import google font cdn link ==== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ==== import custom global.css ==== */
@import url(global.css);

/* ==== import custom variable.css ====  */
@import url(variable.css);

/* ==== import custom media .css custom file ==== */

/*=======================================================*/

/* ==== header section start ==== */

.shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
}

.nav-brand {
  font-size: 32px;
  font-family: var(--popins);
  font-weight: bold;
  align-self: center;
}

.collapse {
  align-self: center;
}

.nav-link {
  font-size: 18px;
  font-family: var(--popins);
  color: var(--dark);
  margin: 12px;
}

.nav-link:hover {
  color: var(--primary-color);
  transition: color 0.1s;
}

.search-box {
  border-right: 2px solid var(--dark);
  display: inline;
  padding-right: 12px;
  margin-right: 10px;
}

.toggle-button {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  font-size: 21px;
  margin: 10px 10px;
  display: none;
}

.toggle-button:focus {
  outline: none;
}

/* ==== header section end ==== */

/* ==== main section start ==== */

#site-main {
  width: 100%;
  margin-top: 5em;
}

/* ==== blog section start ==== */

#posts {
  margin-bottom: 5rem;
}

.grid {
  margin: 0 auto;
}

#site-main #posts .container .grid .grid-element {
  max-width: 1350px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 3rem;
}

.grid-item {
  width: 400px;
  margin: auto;
  border-radius: 10px;
}
.overflow-img {
  width: 100%;
  margin: auto;
}
.overflow-img img {
  border-radius: 10px;
  height: 500px;
  object-fit: cover;
}
.grid .grid-item {
  /* width: calc(33.3333% - 20px); */
  margin-bottom: 3em;
}

/* ==== blog section end ==== */

/* ==== swiper section start ==== */

.swiper {
  height: 300px;
}

.swiper-slide a img {
  width: 280px;
  object-fit: cover;
}

/* ==== swiper section end ==== */

/* ==== main section end ==== */

/* ==== footer section start ==== */
#footer {
  padding-top: 4em;
}

.row {
  display: flex;
}

.col-3 {
  flex: 0 0 30.3333%;
  max-width: 30.3333%;
  padding-right: 35px;
}

.col-3 h2 {
  font-family: var(--popins);
  font-size: 24px;
  font-weight: 600;
}

.col-8 {
  flex: 0 0 70%;
  max-width: 70%;
}

.col-5 {
  flex: 0 0 30%;
  max-width: 30%;
}

.secondary-title p {
  font-family: var(--popins);
  font-size: 16px;
  font-weight: 500;
}

.address,
.phone,
.mail {
  display: flex;
  align-items: center;
}
.address i,
.phone i,
.mail i {
  font-size: 16px;
}
.address p,
.phone p,
.mail p {
  margin-left: 4px;
  font-family: var(--popins);
  font-size: 16px;
  font-weight: 500 !important;
}

#footer .tags a {
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 15px;
}

#footer .copyright {
  padding: 10px 0;
  border-top: 5px solid var(--light);
}
.flex-wrap {
  flex-wrap: wrap;
}

.copyright p {
  padding-top: 10px;
  font-size: 20px;
}

/* ==== footer section end ==== */

/* ==== article section start ==== */

.meta .link {
  font-family: var(--popins);
}

#post {
  padding: 0 2em;
  margin-bottom: 4em;
}

.category a {
  font-size: 22px;
  font-weight: 600;
}

.text-dark p {
  font-size: 18px;
}

.post-footer .post-author {
  margin-top: 4em;
  position: relative;
  border-radius: 20px;
  background-color: var(--light);
}

.post-footer .post-author::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  content: "";
  border-bottom: 3px solid var(--primary-color);
  background-color: white;
  z-index: 0;
  height: 5em;
}

.post-footer .post-author .author-avatar {
  margin: 0 auto;
  margin-bottom: 1em;
  position: inherit;
  z-index: 1;
}

.post-realted .row .prev .font,
.next .font {
  font-size: 18px;
  font-weight: 500;
}

.post-realted .row .prev .font i,
.next .font i {
  color: red;
}

.post-comment h3 {
  font-weight: 600;
}

.comment-content h5 {
  font-size: 20px;
}

.post-footer .post-comments .reply {
  padding-left: 7em;
}

.text-seondary span {
  font-size: 18px;
  border-bottom: 1px solid var(--dark);
  font-weight: 500;
}

.comment-form .d-flexs {
  display: flex;
  justify-content: space-between;
}

/* ==== article section end ==== */

/* ==== sidebar section start ==== */

#sidebar .categories a {
  padding: 1em 3em;
  margin-bottom: 1.5em;
  font-size: 18px;
  background-color: var(--light);
  border-radius: 99px;
}

#sidebar .categories a:hover {
  background-color: var(--primary-color);
  color: var(--light);
  transition: 0.2s;
}

.cart-body .trending-category a {
  font-size: 22px;
  font-weight: 500;
}

.comment-form .btn:hover {
  color: var(--primary-color);
  transition: 0.2s;
}

/* ==== sidebar section end ==== */

/* ==== about secton start ==== */

/* == blog section start == */

.left-side {
  flex: 0 0 100%;
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.blog h2 {
  font-size: 28px;
  font-weight: 600;
}

.blog-size {
  box-shadow: rgba(149, 157, 165, 0.4) 0px 0px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}

.blog-size i {
  font-size: 22px;
  margin-left: 14px;
}

.second-side {
  margin-top: 40px;
}

/* == blog section end == */

/* == review section start == */

.review-post .review-item h2 {
  font-size: 28px;
  font-weight: 600;
}

.post-item-list {
  flex: 0 0 28%;
  max-width: 28%;
  border-radius: 20px;
  position: relative;
  z-index: 0;
}

.review-post .post-item-list::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 3px solid var(--primary-color);
  right: 0;
  width: 100%;
  height: 86px;
  background-color: white;
  z-index: 1;
}

.post-item-list .bloger-img {
  display: flex;
  justify-content: center;
  position: inherit;
  z-index: 2;
}

.post-item-list .review-text .post-star i {
  font-size: 22px;
}

.review-text h3 {
  font-weight: 600;
}

.bloger-img {
  position: relative;
}

.bloger-img img {
  object-fit: cover;
}

/* == review section end == */

/* == Our team section start == */

.team-member h2 {
  font-size: 28px;
  font-weight: 600;
}

.team-leader .post-item-list {
  flex: 0 0 100%;
  max-width: 100%;
}

.post-item-list::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 3px solid var(--primary-color);
  right: 0;
  width: 100%;
  height: 86px;
  background-color: white;
  z-index: 1;
}

.team-leader .bloger-img img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.team-leader .review-text h3 {
  font-size: 28px;
}

.team-leader .review-text h4 {
  font-size: 18px;
  font-weight: 400;
}

.team-leader .post-text p {
  text-align: justify;
}

.review-text h4 {
  font-size: 16px;
  font-weight: 500;
}
/* == Our team section end == */

/* ==== about secton end ==== */

/* ==== contact form design start ==== */

/* ==== contact form design start ==== */

.contact-form h2 {
  font-size: 28px;
  font-weight: 600;
}

.contact-form .d-flexs input {
  border: 2px solid var(--secondary);
}

.contact-form .d-flexs textarea {
  height: 190px;
  border: 2px solid var(--secondary);
}

.contact-form .btn {
  padding: 10px 30px;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: 500;
}

.contact-form .btn:hover {
  color: var(--primary-color);
  transition: 0.2s;
}
/* ==== contact form design  end  ==== */

/*  */
.total-client h2 {
  font-size: 30px;
  color: crimson;
  margin-bottom: 16px;
}

.total-employee {
  overflow-y: hidden;
  overflow-x: auto;
}

.total-employee table {
  width: 100%;
  height: auto;
  border: 1px solid crimson;
  border-collapse: collapse;
}

.total-employee table tr th,
.total-employee table tr td {
  border: 1px solid crimson;
  text-align: center;
  font-family: monospace;
}

.total-employee table tr th {
  font-size: 26px;
  font-weight: 600;
  color: rgb(31, 31, 31);
  padding: 10px 8px;
}

.total-employee table tr td {
  font-size: 20px;
  font-weight: 500;
  color: rgb(93, 93, 93);
  padding: 10px 8px;
}

.total-employee table thead tr th:first-child,
.total-employee table tr td:nth-child(1) {
  min-width: 109px;
  max-width: 109px;
}

.total-employee table thead tr th:nth-child(2),
.total-employee table tr td:nth-child(2) {
  min-width: 200px;
  max-width: 200px;
}

.total-employee table thead tr th:nth-child(3),
.total-employee table tr td:nth-child(3) {
  min-width: 109px;
  max-width: 109px;
}

.total-employee table thead tr th:nth-child(4),
.total-employee table tr td:nth-child(4) {
  min-width: 400px;
  max-width: 400px;
}

.total-employee table thead tr th:nth-child(5),
.total-employee table tr td:nth-child(5) {
  min-width: 109px;
  max-width: 109px;
}

.total-employee table thead tr th:nth-child(6),
.total-employee table tr td:nth-child(6) {
  width: 337px;
}

.total-employee table thead tr th:nth-child(2),
.total-employee table tr td:nth-child(2) {
  text-align: left;
}
